/* matriz-destino.css */

.matriz-destino h1,
.matriz-destino h2 {
text-align: center; 
  //font-family: 'Dancing Script', cursive;
}

.matriz-destino a,
.matriz-destino a:hover,
.matriz-destino a:focus {
  text-decoration: none;
}

.matriz-destino a:hover,
.matriz-destino a:focus {
  color: initial;
}

.matriz-destino .btn,
.matriz-destino .btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/*
.matriz-destino body {
  font-family: "Montserrat";
  font-weight: 300;
}

@media only screen and (max-width: 768px) {
  .matriz-destino body {
    font-size: 0.8em;
  }
}
*/
.matriz-destino table {
  width: 100%;
  padding: 10px;
  table-layout: fixed;
}

.matriz-destino table th {
   text-align: center;   
   text-decoration: none; 
   font-weight: normal;
}

.matriz-destino table > tbody > tr > td,
.matriz-destino table > tbody > tr > th,
.matriz-destino table > tfoot > tr > td,
.matriz-destino table > tfoot > tr > th,
.matriz-destino table > thead > tr > td,
.matriz-destino table > thead > tr > th {
	border: 2px solid #f8f8f8;
	text-align: center;
	vertical-align: middle;
	border-radius: 7px;
	padding: 5px;
}

.matriz-destino .cell_gray { background-color: #E0E0E0 !important; }
.matriz-destino .cell_sahasrara { background-color: #664074 !important; color: white; }
.matriz-destino .cell_ajna { background-color: #155493 !important; color: white; }
.matriz-destino .cell_vishuddha { background-color: #009ED1 !important; color: white; }
.matriz-destino .cell_anahata { background-color: #009E52 !important; color: white; }
.matriz-destino .cell_manipura { background-color: #EFBE3D !important; color: white; }
.matriz-destino .cell_svadhisthana { background-color: #F28D3B !important; color: white; }
.matriz-destino .cell_muladhara { background-color: #E54144 !important; color: white; }
.matriz-destino .cell_total { background-color:#bcb395 !important; color: white; }
